<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="all" *ngIf="results">
<mat-sidenav #leftnav mode="over" position="start" class="sidenav">
  <mat-card class="mtgfacet" *ngFor="let name of facet_counts_names">
    <mat-card-header><mat-card-title class="mtgtitle">{{name|slice:0:-7}}</mat-card-title></mat-card-header>
    <p *ngFor="let value of facet_counts[name]['values']"><mat-checkbox (click)="toggleFacet(name,value)" ng-checked="active_facets[name][value]">{{value}} ({{facet_counts[name][value]}})</mat-checkbox></p>
 </mat-card>

  <mat-card class="mtgfacet" *ngIf="active_facets.length!=0">
    <p >{{active_facets | json}}</p>
  </mat-card>    
  <mat-card class="mtgfacet" *ngIf="active_facets.length!=0">
    <p >{{facet_counts | json}}</p>
  </mat-card>
</mat-sidenav>
<mat-toolbar><button mat-button (click)="leftnav.open()"><mat-icon>menu</mat-icon></button><mat-form-field><input matInput placeholder="Search" [(ngModel)]="query" name="Search" (keyup.enter)="search()"></mat-form-field><mat-icon>search</mat-icon>({{results.response.numFound}} results)</mat-toolbar>
<div class="content">
<mat-card class="mtgcard" *ngFor="let card of results.response.docs">
  <mat-card-content class="mtgcontent">
  <p>{{card.name}}<span class="manacost" *ngIf="card.manacost" [innerHTML]="convertSymbols(card.manacost)"></span></p>  
  <p>{{card.type}}</p></mat-card-content>
</mat-card>
</div>
</mat-sidenav-container>

