<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar><mat-form-field><input matInput placeholder="Search" [(ngModel)]="query" name="Search" (keyup.enter)="search()"><mat-icon>search</mat-icon></mat-form-field></mat-toolbar>
<div class="content" *ngIf="results">
<h2>Search Results for {{query}} ({{results.response.numFound}}) </h2>
<mat-card class="mtgcard" *ngFor="let card of results.response.docs">
  <mat-card-header><mat-card-title>{{card.name}}</mat-card-title></mat-card-header><mat-card-content>
  <p>{{card.type}}</p>
  <p>{{convertSymbols(card.manacost)}}</p></mat-card-content>
</mat-card>
</div>

