.all {
    display: flex;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.content {
    overflow-y: auto;
}

.leftsidenav {
    padding: 10px;
    width: 360px;
    height: 100%;
}

.rightsidenav {
    padding: 10px;
    width: 500px;
    height: 100%;
}


.mtggraph {
    padding: 5px;
    margin: 10px;
}

.mtgtitle {
    width: 135px;
    font-size: 70%;
}

.fixed-header {
    z-index: 2;
}

.fixed-footer {
    z-index: 2;
}

.mat-paginator {
    background: none;
}
